<div class="basic-grey">
<p id="notice"><%= notice %></p>

<h1><%= "#{t("message.listing")} #{@phones.model.model_name.human(count: @phones.count)}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= @phones.model.human_attribute_name("phone") %></th>
      <th><%= @phones.model.human_attribute_name("contact_id") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phones.each do |phone| %>
      <tr style="background: <%= cycle('white','#BDBDBD') %>">
        <td><%= phone.phone %></td>
        <td><%= phone.contact %></td>
        <td><%= link_to t('buttons.show'), phone %></td>
        <td><%= link_to t('buttons.edit'), edit_phone_path(phone) %></td>
        <td><%= link_to t('buttons.destroy'), phone, method: :delete, data: { confirm: t('message.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('buttons.new')} #{@phones.model.model_name.human(count: 1)}", new_phone_path %>
</div>
