<div class="basic-grey">
<p id="notice"><%= notice %></p>

<h1><%= "#{t("message.listing")} #{@addresses.model.model_name.human(count: @addresses.count)}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= @addresses.model.human_attribute_name("street") %></th>
      <th><%= @addresses.model.human_attribute_name("city") %></th>
      <th><%= @addresses.model.human_attribute_name("state") %></th>
      <th><%= @addresses.model.human_attribute_name("contact_id") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr style="background: <%= cycle('white','#BDBDBD') %>">
        <td><%= address.street %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.contact %></td>
        <td><%= link_to t('buttons.show'), address %></td>
        <td><%= link_to t('buttons.edit'), edit_address_path(address) %></td>
        <td><%= link_to t('buttons.destroy'), address, method: :delete, data: { confirm: t('message.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('buttons.new')} #{@addresses.model.model_name.human(count: 1)}", new_address_path %>
</div>
